html, body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: start;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

select, button, input {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

textarea
{
    overflow-y:scroll;
}

table {
    width: 100%;
}

tr .selected, tr:has(td.marker), span.marker {
    color : blue;
}

td {
    vertical-align: middle;
}

ul {
    margin : 0;
}

h1, h2 {
    margin-bottom: .5rem; 
}
button {
    font-size: x-large;
    width : 50px;
    height : 40px;
    cursor: pointer;
}

button:hover {
    background-color: lightgray;
    border-color: black;
    color: black;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom : .33rem;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.left {
    align-items: start;
}

.center {
    align-self: center;
}

.centered {
    text-align: center;
}

.space {
    justify-content: space-between;
}

.hide {
    display: none;
    transition: all .5s ease-out;
    opacity: 0;  
}

#dot {
    padding : 0.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: large;
    color : white;
    background-color: black;
    flex-grow: 1;
}

#vizContainer {
    flex-grow: 2;
}

#configuration {
    flex-grow: 1;
}

#algorithme {
    font-family: Courier, 'Courier New', monospace;
}

#popup {
    display: none;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    position: absolute;
    top : 0;
    left : 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

#popup-message {
    flex-grow: 0;
    background-color: white;
    color : black;
    border-radius: 5px;
    border: 5px solid lightgray;
    padding: 10px;
    max-width: 75%;
    cursor: pointer;
}

.menu {
    cursor: pointer;
    border : 1px solid black;
    padding: .25rem .5rem 0 .5rem;
}

.menu:hover {
    background-color: lightgrey;
}

.marker::after {
    content : '➤';
}

#variables th:nth-child(1) {
    width : 150px;
}

.dict th {
    width: auto!important;
}

#link {
    font-size: small;
    width: 35px;
    height: 30px;
}

.bordered {
    border-collapse: collapse;
}

.bordered, .bordered td, .bordered th {
    border : 1px solid black;
}

.help {
    display: inline-block;
    border-radius: 50%;
    background-color: black;
    border-color: lightgray;
    border-width: 3px;
    border-style: solid;
    color: white;
    width : 25px;
    height : 25px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    margin-left: .5rem;
}

.help:hover {
    background-color: lightgray;
    border-color: black;
    color: black;
}

.node {
    display: inline-block;
    width : 25px;
    height : 25px;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    vertical-align: middle;
}

.black {
    border-color : black;
}

.red {
    border-color : red;
}

.blue {
    border-color : blue;
}

.plain-black {
    background-color: black;
}

.plain-gray {
    background-color: lightgray;
}